<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1b
# *Data Cleaning with Pandas*

In this lab we work with a file that has messy column names and a combination of missing and invalid data to be cleaned.

To start with load `rock.csv` into a dataframe.

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('C:/Users/patri/OneDrive/UTS and personal doc 2022/Documents/Person Docs/Data science program/DATA/rock.csv', header = 0, sep=',')
df.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

### Check Column Names

Check column names and clean by converting all names to lowercase, replacing spaces with underscores (`_`) and removing question marks or asterisk (`*`) characters.

In [4]:
# ANSWER
df.columns = df.columns.str.lower()            # Convert column names to lowercase
df.columns = df.columns.str.replace(' ', '_')  # Replace spaces with underscores
df.columns = df.columns.str.replace('[\?\*]', '', regex=True)  # Remove '?' and '*' characters

# Show the cleaned column names
df.columns

Index(['song_clean', 'artist_clean', 'release_year', 'combined', 'first',
       'year', 'playcount', 'fg'],
      dtype='object')

### Replace Null Values With 0

Check 'release_year' column whether this column has any null values or not. Replace null values with 0.

In [5]:
# ANSWER
# Replace all NaN (Null) values with 0
df.fillna(0)

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1
...,...,...,...,...,...,...,...,...
2225,She Loves My Automobile,ZZ Top,0,She Loves My Automobile by ZZ Top,1,0,1,0
2226,Tube Snake Boogie,ZZ Top,1981,Tube Snake Boogie by ZZ Top,1,1,32,32
2227,Tush,ZZ Top,1975,Tush by ZZ Top,1,1,109,109
2228,TV Dinners,ZZ Top,1983,TV Dinners by ZZ Top,1,1,1,1
2229,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO,ZZ Top,1973,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...,1,1,2,2

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [6]:
# ANSWER
df.dtypes

song_clean      object
artist_clean    object
release_year    object
combined        object
first            int64
year             int64
playcount        int64
fg               int64
dtype: object

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [7]:
# ANSWER
df = df.apply(pd.to_numeric, errors='coerce')
print(df.min())
print(df.max())

song_clean        45.0
artist_clean       NaN
release_year    1071.0
combined           NaN
first              1.0
year               0.0
playcount          0.0
fg                 0.0
dtype: float64
song_clean      1979.0
artist_clean       NaN
release_year    2014.0
combined           NaN
first              1.0
year               1.0
playcount        142.0
fg               142.0
dtype: float64

## Write Some Functions

### Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [11]:
# ANSWER
# DataFrame
data = {
    'song': ['Hey Jude', 'Imagine', 'Let It Be'],
    'artist': ['The Beatles', 'John Lennon', 'The Beatles'],
    'release_date': [1968, 1971, 1970]
}


df = pd.DataFrame(data)

# Function to print song details and check if release date is < 1970
def print_song_info(row):
    song = row['song']
    artist = row['artist']
    release_date = row['release_date']
    
    # Check if the release date is before 1970
    if release_date < 1970:
        before_1970 = "Yes"
    else:
        before_1970 = "No"
    
    # Print the details
    print(f"Song: {song}")
    print(f"Artist: {artist}")
    print(f"Release Date before 1970: {before_1970}")
    print("-" * 40)

# Apply the function to each row of the DataFrame
df.apply(print_song_info, axis=1)

Song: Hey Jude
Artist: The Beatles
Release Date before 1970: Yes
----------------------------------------
Song: Imagine
Artist: John Lennon
Release Date before 1970: No
----------------------------------------
Song: Let It Be
Artist: The Beatles
Release Date before 1970: No
----------------------------------------

0    None
1    None
2    None
dtype: object

### Write a function that converts a column in a DataFrame to a numeric type and otherwise replaces entries with np.nan

In [19]:
# ANSWER
# Function to convert a column to numeric type and replace non-numeric values with NaN
def convert_to_numeric(df, column_name):
    """
    Converts the specified column of the DataFrame to numeric type.
    Non-numeric values will be replaced with NaN.

    Parameters:
    - df: DataFrame
    - column_name: The column to convert to numeric type
    
    Returns:
    - DataFrame with the specified column converted to numeric.
    """
    # Convert the column to numeric, replacing errors with NaN
    df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
    
    return df

### Apply this last function to your dataset

In [20]:
# ANSWER

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Apply the function to convert the 'release_year' column to numeric
df = convert_to_numeric(df, 'release_year')

# Display the DataFrame after conversion
print("\nDataFrame After Conversion:")
print(df)

Original DataFrame:
        song   release_year
0   Hey Jude           1968
1    Imagine           1971
2  Let It Be  not available

DataFrame After Conversion:
        song  release_year
0   Hey Jude        1968.0
1    Imagine        1971.0
2  Let It Be           NaN

### 'Describe' the new DataFrame

In [24]:
# ANSWER
df.describe

<bound method NDFrame.describe of         song  release_year
0   Hey Jude        1968.0
1    Imagine        1971.0
2  Let It Be           NaN>

>



---



---



> > > > > > > > > © 2025 Institute of Data


---



---